#background {
	background-image: url(image/bg2.jpg);
	width: 1900px;
	height: 950px;
}
#background1 {
	background-image: url(image/bg3.jpg);
	width: 1900px;
	height: 950px;
}
#background2 {
	background-image: url(image/bg4.jpg);
	width: 1900px;
	height: 950px;
}
#div1 {
width: 500px;
	height: 950px;
	border: 5px;
	float: left;
}
#div2 {
width: 900px;
	height: 950px;
	border: 5px;
		float: left;
}
#div3 {
width: 500px;
	height: 950px;
	border: 5px;
			float: left;
}
.lon{
	width: 60%;
	text-align: center;
	margin-left: 80px;
}
.anho{
	margin-left: 80px;
	width: 50%;
	margin-top: -14px;	 
}
#map{
	text-align: center;
	width: 20%;
	border:dotted;
	margin-top: 25px;
    margin-left: 155px;
}
#trongmat{
	background-color: gray;
	height: 90px;
	width: 100vw;
	text-align: center;
	font-size: 38px;
}
#map2{
	border: dashed;
	width: 5%;
}
#audio{
	width: 100%;
}
#map3{
	text-align: center;
	width: 20%;
	border:dotted;
	margin-top: 25px;
    margin-left: 687px;
}
#khodo{
	background-color: pink;
	width: 40%;
	font-style: bold;
	font-size: 50px;
	color: violet;
	text-align: center;
	margin-left: 500px;
}